Workflows/workflow-short-form-content/workflow.json
{
  "name": "Motor de reels — referentes → candidatos (ADR-009)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "cron-semanal",
      "name": "Cron — semanal (lunes 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {},
      "id": "ejecutar-manual",
      "name": "Ejecutar manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "airtable_base_id",
              "value": "<<AIRTABLE_BASE_ID>>",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "supabase_url",
              "value": "<<SUPABASE_URL>>",
              "type": "string"
            },
            {
              "id": "c3",
              "name": "instance_id",
              "value": "<<INSTANCE_ID>>",
              "type": "string"
            },
            {
              "id": "c4",
              "name": "ig_results_limit",
              "value": 8,
              "type": "number"
            },
            {
              "id": "c5",
              "name": "tt_results_limit",
              "value": 30,
              "type": "number"
            },
            {
              "id": "c6",
              "name": "peso_views",
              "value": 0.4,
              "type": "number"
            },
            {
              "id": "c7",
              "name": "peso_likes",
              "value": 0.4,
              "type": "number"
            },
            {
              "id": "c8",
              "name": "peso_eng",
              "value": 0.2,
              "type": "number"
            },
            {
              "id": "c_relev",
              "name": "peso_relevancia",
              "value": 0.7,
              "type": "number"
            },
            {
              "id": "c10",
              "name": "boost_idioma",
              "value": 0.3,
              "type": "number"
            },
            {
              "id": "c11",
              "name": "umbral_viral",
              "value": 700000,
              "type": "number"
            },
            {
              "id": "c12",
              "name": "top_n_fallback",
              "value": 25,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.airtable.com/v0/' + $('Config').first().json.airtable_base_id + '/Proyectos' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "options": {
          "timeout": 20000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "{activo}"
            }
          ]
        }
      },
      "id": "leer-proyectos",
      "name": "Leer Proyectos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.airtable.com/v0/' + $('Config').first().json.airtable_base_id + '/Voces' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "options": {
          "timeout": 20000
        }
      },
      "id": "leer-voces",
      "name": "Leer Voces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.airtable.com/v0/' + $('Config').first().json.airtable_base_id + '/Keywords' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "options": {
          "timeout": 20000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "{activo}"
            }
          ]
        }
      },
      "id": "leer-keywords",
      "name": "Leer Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.airtable.com/v0/' + $('Config').first().json.airtable_base_id + '/Referentes' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "options": {
          "timeout": 20000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "{activo}"
            }
          ]
        }
      },
      "id": "leer-referentes",
      "name": "Leer Referentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst recs = (n) => { const r = $(n).first().json; return (r && r.records) || []; };\nconst proyectos = recs('Leer Proyectos');\nconst voces = recs('Leer Voces');\nconst keywords = recs('Leer Keywords');\nconst referentes = recs('Leer Referentes');\n\nconst vozById = {};\nconst vozCritById = {};\nvoces.forEach(v => { const vf = v.fields || {}; vozById[v.id] = vf.nombre || ''; vozCritById[v.id] = (vf.criterios_relevancia || '').toString().trim(); });\n\nconst projects = {};\nproyectos.forEach(p => {\n  const f = p.fields || {};\n  const vozId = Array.isArray(f.voz_default) && f.voz_default[0] ? f.voz_default[0] : null;\n  projects[p.id] = {\n    id: p.id, nombre: f.nombre || '',\n    voz_id: vozId, voz_nombre: vozId && vozById[vozId] ? vozById[vozId] : '',\n    min_likes: Number(f.min_likes || 0), min_views: Number(f.min_views || 0),\n    dias_recencia: Number(f.dias_recencia || 0), top_n: Number(f.top_n || 0),\n    criterios: (f.criterios_relevancia || '').toString().trim(),\n    voz_criterios: vozId && vozCritById[vozId] ? vozCritById[vozId] : '',\n    keywords: [], ig_handles: [], tt_handles: []\n  };\n});\nkeywords.forEach(k => {\n  const f = k.fields || {}; const proy = Array.isArray(f.proyecto) ? f.proyecto[0] : null;\n  if (proy && projects[proy] && f.termino) projects[proy].keywords.push(String(f.termino).trim());\n});\nreferentes.forEach(r => {\n  const f = r.fields || {}; const proy = Array.isArray(f.proyecto) ? f.proyecto[0] : null;\n  const handle = String(f.handle || '').trim().replace(/^@/, '');\n  if (!proy || !projects[proy] || !handle) return;\n  const plat = String(f.plataforma || '').toLowerCase();\n  if (plat.indexOf('insta') >= 0) projects[proy].ig_handles.push(handle);\n  else if (plat.indexOf('tik') >= 0) projects[proy].tt_handles.push(handle);\n});\n\nconst ig_urls = []; const ig_owner_to_proj = {};\nconst tt_hashtags = []; const kw_to_proj = {};\nObject.values(projects).forEach(p => {\n  p.ig_handles.forEach(h => { ig_urls.push('https://www.instagram.com/' + h + '/'); ig_owner_to_proj[h.toLowerCase()] = p.id; });\n  p.keywords.forEach(k => { const kk = k.replace(/^#/, '').toLowerCase(); tt_hashtags.push(kk); (kw_to_proj[kk] = kw_to_proj[kk] || []).push(p.id); });\n});\n\n// ventana de recencia para el filtro de Apify: si algún proyecto pide 0 (sin límite),\n// no se filtra; si no, se usa el máximo dias_recencia de los proyectos activos.\nconst diasVals = Object.values(projects).map(p => p.dias_recencia);\nconst anyUnlimited = diasVals.some(d => !d || d <= 0);\nconst max_dias_recencia = anyUnlimited ? 0 : Math.max.apply(null, diasVals.concat(0));\n\nreturn [{ json: {\n  projects, ig_urls: [...new Set(ig_urls)], tt_hashtags: [...new Set(tt_hashtags)],\n  ig_owner_to_proj, kw_to_proj, active_project_ids: Object.keys(projects),\n  max_dias_recencia\n} }];\n"
      },
      "id": "armar-plan-de-corrida",
      "name": "Armar plan de corrida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "apifyApi",
        "resource": "Actors",
        "operation": "Run actor and get dataset",
        "actorId": "apify~instagram-scraper",
        "customBody": "={{ (function(){ var p=$('Armar plan de corrida').first().json; var d=Number(p.max_dias_recencia||0); var b={ directUrls: p.ig_urls, resultsType: 'posts', resultsLimit: $('Config').first().json.ig_results_limit, searchType: 'user', searchLimit: 1, addParentData: true }; if(d>0) b.onlyPostsNewerThan = d + ' days'; return b; })() }}"
      },
      "id": "apify-ig-reels",
      "name": "Apify — IG Reels",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1960,
        400
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "apifyApi",
        "resource": "Actors",
        "operation": "Run actor and get dataset",
        "actorId": "clockworks~free-tiktok-scraper",
        "customBody": "={{ { hashtags: $('Armar plan de corrida').first().json.tt_hashtags, resultsPerPage: $('Config').first().json.tt_results_limit, shouldDownloadVideos: false, shouldDownloadCovers: false } }}"
      },
      "id": "apify-tiktok",
      "name": "Apify — TikTok",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        2240,
        400
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst item = $input.item.json;\nconst seguidores = item.ownerFollowersCount || item.ownerFollowerCount || 0;\nreturn { json: {\n  plataforma: 'instagram',\n  external_id: String(item.id || item.shortCode || item.shortcode || ''),\n  username: item.ownerUsername || '',\n  nombre: item.ownerFullName || '',\n  seguidores,\n  bio: item.ownerBio || '',\n  descripcion: item.caption || '',\n  likes: item.likesCount || 0,\n  comentarios: item.commentsCount || 0,\n  reproducciones: item.videoViewCount || 0,\n  url: item.url || '',\n  video_url: item.url || '',\n  thumbnail_url: item.displayUrl || '',\n  hashtags: (item.hashtags || []).join(', '),\n  duracion_video: item.videoDuration || 0,\n  engagement_rate: seguidores > 0 ? (((item.likesCount || 0) + (item.commentsCount || 0)) / seguidores * 100).toFixed(2) : '0',\n  fecha_publicacion: (function(){ var d = new Date(item.timestamp); return isNaN(d.getTime()) ? '' : d.toISOString().split('T')[0]; })()\n} };\n"
      },
      "id": "normalizar-ig",
      "name": "Normalizar IG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst item = $input.item.json;\nconst am = item.authorMeta || {};\nconst seguidores = am.fans || 0;\nreturn { json: {\n  plataforma: 'tiktok',\n  external_id: String(item.id || ''),\n  username: am.name || '',\n  nombre: am.nickName || '',\n  seguidores,\n  bio: am.signature || '',\n  descripcion: item.text || item.desc || '',\n  likes: item.diggCount || 0,\n  comentarios: item.commentCount || 0,\n  reproducciones: item.playCount || 0,\n  url: item.webVideoUrl || '',\n  video_url: item.webVideoUrl || '',\n  thumbnail_url: (item.videoMeta && item.videoMeta.coverUrl) || '',\n  hashtags: (item.hashtags || []).map(function (h) { return h.name || h; }).join(', '),\n  duracion_video: item.videoMeta ? (item.videoMeta.duration || 0) : 0,\n  engagement_rate: seguidores > 0 ? (((item.diggCount || 0) + (item.commentCount || 0)) / seguidores * 100).toFixed(2) : '0',\n  fecha_publicacion: item.createTimeISO ? item.createTimeISO.split('T')[0] : ''\n} };\n"
      },
      "id": "normalizar-tt",
      "name": "Normalizar TT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        400
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-scrapes",
      "name": "Merge scrapes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3080,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst plan = $('Armar plan de corrida').first().json;\nconst projects = plan.projects, ig_owner = plan.ig_owner_to_proj, kw = plan.kw_to_proj;\nconst activeIds = plan.active_project_ids || [];\nconst out = [];\nfor (const it of $input.all()) {\n  const d = it.json;\n  if (!d.url) continue;\n  let proyId = null;\n  if ((d.plataforma || '') === 'instagram') {\n    const u = String(d.username || '').toLowerCase().replace(/^@/, '');\n    if (ig_owner[u]) proyId = ig_owner[u];\n  } else if ((d.plataforma || '') === 'tiktok') {\n    const tags = String(d.hashtags || '').toLowerCase().split(',').map(s => s.trim().replace(/^#/, '')).filter(Boolean);\n    for (const t of tags) { if (kw[t]) { proyId = kw[t][0]; break; } }\n  }\n  if (!proyId && activeIds.length === 1) proyId = activeIds[0];\n  if (!proyId || !projects[proyId]) continue;\n  const p = projects[proyId];\n  // guardia de recencia (capa 2): descarta lo más viejo que dias_recencia del proyecto.\n  // 0 = sin límite. Si no hay fecha, se conserva (no se puede juzgar la edad).\n  if (p.dias_recencia > 0 && d.fecha_publicacion) {\n    const ts = Date.parse(d.fecha_publicacion);\n    if (Number.isFinite(ts) && (Date.now() - ts) > p.dias_recencia * 86400000) continue;\n  }\n  out.push({ json: Object.assign({}, d, {\n    proyecto_id: proyId, proyecto_nombre: p.nombre, voz_id: p.voz_id, voz_nombre: p.voz_nombre,\n    _top_n: p.top_n, _dias: p.dias_recencia, _keywords: p.keywords\n  }) });\n}\nreturn out;\n"
      },
      "id": "asignar-proyecto-voz",
      "name": "Asignar proyecto+voz",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Pre-trim de relevancia (Haiku) — colador LAXO sobre el caption, ANTES de transcribir.\n// Optimiza recall: descarta solo lo OBVIAMENTE off-topic. Fail-open (si Haiku falla, pasa todo).\nconst KEY = '<ANTHROPIC_API_KEY>';\nconst plan = $('Armar plan de corrida').first().json || {};\nconst projects = plan.projects || {};\nconst items = $('Asignar proyecto+voz').all().map(i => i.json);\n\nconst byProj = {};\nitems.forEach(d => { (byProj[d.proyecto_id] = byProj[d.proyecto_id] || []).push(d); });\n\nconst drop = new Set();\nfor (const pid in byProj) {\n  const arr = byProj[pid];\n  const p = projects[pid] || {};\n  const criterios = [p.criterios, p.voz_criterios].filter(Boolean).join('\\n').trim();\n  if (!criterios) continue; // sin rúbrica no se juzga: no se descarta nada\n  const lote = arr.map(d => ({\n    id: String(d.external_id || ''),\n    texto: (String(d.descripcion || '') + ' ' + String(d.hashtags || '')).replace(/\\s+/g, ' ').trim().slice(0, 500)\n  })).filter(x => x.id);\n  if (!lote.length) continue;\n  const sys = 'Sos un filtro de relevancia LAXO. Te doy el tema de un proyecto, sus criterios, y una lista de videos (id + texto del caption). Devolve UNICAMENTE un JSON {\"descartar\":[ids]} con los ids OBVIAMENTE fuera de tema. En la duda NO descartes (preferimos dejar pasar de mas). No expliques nada.';\n  const usr = 'TEMA: ' + (p.nombre || '') + '\\nCRITERIOS:\\n' + criterios + '\\n\\nVIDEOS:\\n' + JSON.stringify(lote);\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: { 'x-api-key': KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n      body: { model: 'claude-haiku-4-5', max_tokens: 1000, system: sys, messages: [{ role: 'user', content: usr }] },\n      json: true,\n      timeout: 30000\n    });\n    let txt = '';\n    try { txt = (resp.content && resp.content[0] && resp.content[0].text) || ''; } catch (e) {}\n    const m = String(txt).match(/\\{[\\s\\S]*\\}/);\n    if (m) { const parsed = JSON.parse(m[0]); (parsed.descartar || []).forEach(id => drop.add(String(id))); }\n  } catch (e) { /* fail-open: no se descarta nada de este proyecto */ }\n}\n\nconst out = [];\nfor (const d of items) { if (!drop.has(String(d.external_id || ''))) out.push({ json: d }); }\nreturn out;\n"
      },
      "id": "pre-trim-relevancia",
      "name": "Pre-trim relevancia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        200
      ],
      "notes": "Haiku LAXO sobre el caption: descarta off-topic obvio antes de transcribir. Fail-open. Lee criterios_relevancia del Proyecto/Voz vía 'Armar plan'. ADR-010 / Stage 2."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/v_senal_seleccion?select=referente,idioma,tasa_seleccion' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "timeout": 15000
        }
      },
      "id": "leer-se-al-selecci-n",
      "name": "Leer señal selección",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        400
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/processed_items?select=external_id,platform&limit=20000' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "timeout": 15000
        }
      },
      "id": "leer-procesados",
      "name": "Leer procesados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        400
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst cfg = $('Config').first().json;\nconst rows = (n) => { const a = $(n).all().map(i => i.json); if (a.length === 1 && Array.isArray(a[0])) return a[0]; return a; };\nconst items = $('Pre-trim relevancia').all().map(i => i.json);\nconst seen = new Set(rows('Leer procesados').map(r => r && String(r.external_id)).filter(Boolean));\nconst signal = {};\nrows('Leer señal selección').forEach(r => { if (r && r.referente !== undefined) signal[(r.referente || '') + '|' + (r.idioma || '')] = Number(r.tasa_seleccion || 0); });\n\nconst norm = (s) => (s || '').toString().toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst DICT = {\n  es: [' el ', ' la ', ' los ', ' las ', ' que ', ' de ', ' para ', ' con ', ' una ', ' como ', ' pero ', ' esto '],\n  en: [' the ', ' and ', ' you ', ' for ', ' with ', ' this ', ' that ', ' your ', ' are ', ' have ', ' what '],\n  pt: [' uma ', ' voce ', ' nao ', ' isso ', ' mais ', ' como ', ' obrigado ', ' entao ', ' muito '],\n  it: [' il ', ' che ', ' per ', ' una ', ' questo ', ' come ', ' sono ', ' non ', ' anche ', ' molto '],\n  fr: [' les ', ' une ', ' pour ', ' avec ', ' vous ', ' est ', ' pas ', ' comme ', ' dans ', ' mais ']\n};\nconst guessLang = (txt) => {\n  const t = ' ' + norm(txt) + ' '; let best = 'es', bestN = 0;\n  for (const lng in DICT) { let n = 0; DICT[lng].forEach(w => { if (t.indexOf(w) >= 0) n++; }); if (n > bestN) { bestN = n; best = lng; } }\n  return bestN === 0 ? 'es' : best;\n};\nconst pct = (arr, v) => { if (arr.length <= 1) return 1; let c = 0; for (const x of arr) if (x <= v) c++; return c / arr.length; };\n\nconst byProj = {};\nitems.forEach(d => { (byProj[d.proyecto_id] = byProj[d.proyecto_id] || []).push(d); });\nconst out = [];\nfor (const pid in byProj) {\n  const arr = byProj[pid];\n  const views = arr.map(d => Number(d.reproducciones || 0));\n  const likes = arr.map(d => Number(d.likes || 0));\n  const engs = arr.map(d => parseFloat(d.engagement_rate) || 0);\n  const scored = arr.map(d => {\n    const v = Number(d.reproducciones || 0), l = Number(d.likes || 0), e = parseFloat(d.engagement_rate) || 0;\n    const idioma = guessLang((d.descripcion || '') + ' ' + (d.bio || ''));\n    const idiomaBoost = idioma !== 'es' ? Number(cfg.boost_idioma || 0.3) : 0;\n    const sel = signal[(d.username || '') + '|' + idioma] || 0;\n    const base = Number(cfg.peso_views || 0.4) * pct(views, v) + Number(cfg.peso_likes || 0.4) * pct(likes, l) + Number(cfg.peso_eng || 0.2) * pct(engs, e);\n    const heat = base * (1 + idiomaBoost) * (1 + sel);\n    return Object.assign({}, d, {\n      idioma_guess: idioma, heat_score: Math.round(heat * 10000) / 10000,\n      viral_por_tamano: Number(d.seguidores || 0) > Number(cfg.umbral_viral || 700000)\n    });\n  });\n  const fresh = scored.filter(d => !seen.has(String(d.external_id)));\n  fresh.sort((a, b) => b.heat_score - a.heat_score);\n  const topn = Number((arr[0] && arr[0]._top_n) || cfg.top_n_fallback || 25);\n  fresh.slice(0, topn).forEach(d => out.push({ json: d }));\n}\nreturn out;\n"
      },
      "id": "heat-score-v1",
      "name": "Heat-score v1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Transcribir (Supadata) — reemplaza Supadata HTTP + Merge(pos) + Parsear transcripción.\n// external_id queda atado al item (mata #8). lang de Supadata primario; fallback adivina\n// sobre el TRANSCRIPT, no la descripción (mata #7). Fail-open: si falla, transcripcion vacía.\nconst KEY = '<SUPADATA_API_KEY>';\nconst SLEEP_MS = 1500; // throttle (antes batchInterval 2000 con batchSize 1)\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\nconst norm = (s) => (s || '').toString().toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst DICT = {\n  es: [' el ',' la ',' que ',' de ',' para ',' con ',' una ',' como ',' pero ',' esto '],\n  en: [' the ',' and ',' you ',' for ',' with ',' this ',' that ',' your ',' are ',' what '],\n  pt: [' uma ',' voce ',' nao ',' isso ',' mais ',' como ',' entao ',' muito '],\n  it: [' il ',' che ',' per ',' una ',' questo ',' come ',' sono ',' non ',' molto '],\n  fr: [' les ',' une ',' pour ',' avec ',' vous ',' est ',' pas ',' comme ',' mais ']\n};\nconst guessLang = (txt) => {\n  const t = ' ' + norm(txt) + ' '; let best = '', bestN = 0;\n  for (const lng in DICT) { let n = 0; DICT[lng].forEach(p => { if (t.indexOf(p) >= 0) n++; }); if (n > bestN) { bestN = n; best = lng; } }\n  return bestN === 0 ? '' : best;\n};\nconst out = [];\nconst items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const d = items[i].json;\n  const url = d.video_url || d.url || '';\n  let txt = '', lang = '';\n  if (url) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'https://api.supadata.ai/v1/transcript?url=' + encodeURIComponent(url) + '&text=true&mode=auto',\n        headers: { 'x-api-key': KEY }, json: true, timeout: 90000\n      });\n      txt = (typeof resp.content === 'string' && resp.content) || (typeof resp.text === 'string' && resp.text) || '';\n      lang = String(resp.lang || resp.language || '').toLowerCase().slice(0, 2);\n    } catch (e) { /* fail-open: sin transcript */ }\n    if (i < items.length - 1) await sleep(SLEEP_MS);\n  }\n  txt = String(txt || '').trim().substring(0, 6000);\n  const idioma = lang || guessLang(txt) || d.idioma_guess || 'es';\n  out.push({ json: Object.assign({}, d, { transcripcion: txt, idioma_detectado: idioma }) });\n}\nreturn out;\n"
      },
      "id": "transcribir-supadata",
      "name": "Transcribir (Supadata)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        400
      ],
      "notes": "Supadata vía this.helpers.httpRequest. external_id atado al item (mata #8 merge-by-position). lang de Supadata primario, fallback sobre el transcript (mata #7). Fail-open."
    },
    {
      "parameters": {
        "jsCode": "\n// Traducir (Claude Haiku) — reemplaza IF + Script-desde-transcripción + Claude HTTP + Merge(pos) + Parsear.\n// Traduce literal al español SOLO si el original no está en español. external_id atado al item (#8).\n// Fail-open: si la traducción falla o devuelve vacío, el script queda como el transcript original.\nconst KEY = '<ANTHROPIC_API_KEY>';\nconst SLEEP_MS = 1000; // throttle (antes batchInterval 1000)\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\nconst SYS = 'Sos un traductor literal. Traduci el texto al espanol neutro de forma fiel y literal: sin reescribir, sin resumir, sin embellecer, sin agregar ni quitar nada; conserva el sentido y el orden. Devolve UNICAMENTE el texto traducido, sin comillas ni comentarios.';\nconst out = [];\nconst items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const d = items[i].json;\n  const transcript = String(d.transcripcion || '');\n  const idioma = d.idioma_detectado || d.idioma_guess || 'es';\n  let script = transcript;\n  if (transcript && idioma !== 'es') {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.anthropic.com/v1/messages',\n        headers: { 'x-api-key': KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n        body: { model: 'claude-haiku-4-5', max_tokens: 2000, system: SYS, messages: [{ role: 'user', content: transcript.substring(0, 6000) }] },\n        json: true, timeout: 60000\n      });\n      let tr = '';\n      try { tr = (resp.content && resp.content[0] && resp.content[0].text) || ''; } catch (e) {}\n      tr = String(tr || '').trim();\n      if (tr) script = tr;\n    } catch (e) { /* fail-open: script = transcript */ }\n    if (i < items.length - 1) await sleep(SLEEP_MS);\n  }\n  out.push({ json: Object.assign({}, d, { script: script, idioma: idioma }) });\n}\nreturn out;\n"
      },
      "id": "traducir-claude-haiku",
      "name": "Traducir (Claude Haiku)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4760,
        400
      ],
      "notes": "Haiku 4.5 traductor literal vía this.helpers.httpRequest, SOLO si el original no está en español. external_id atado al item. Fail-open: script = transcript si falla."
    },
    {
      "parameters": {
        "jsCode": "\n// Gate de relevancia (Haiku) — jurado ESTRICTO sobre el transcript (precision). Llena CALIDAD (PLAN §2.4).\n// Juzga relevancia/calidad contra criterios_relevancia (Proyecto ⊕ Voz) → {relevante, score, razon}.\n// Dropea los relevante:false. Composite: heat = PESO·score_haiku + (1-PESO)·percentil(prescore métrico).\n// Fail-open: sin criterios o si Haiku falla, pasa todo y ordena por el prescore métrico.\nconst KEY = '<ANTHROPIC_API_KEY>';\nconst cfg = $('Config').first().json;\nconst PESO = Number(cfg.peso_relevancia != null ? cfg.peso_relevancia : 0.7);\nconst projects = ($('Armar plan de corrida').first().json || {}).projects || {};\nconst SLEEP_MS = 1000;\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\nconst pct = (arr, v) => { if (arr.length <= 1) return 1; let c = 0; for (const x of arr) if (x <= v) c++; return c / arr.length; };\n\nconst items = $input.all().map(i => i.json);\nconst byProj = {};\nitems.forEach(d => { (byProj[d.proyecto_id] = byProj[d.proyecto_id] || []).push(d); });\n\nconst out = [];\nlet first = true;\nfor (const pid in byProj) {\n  const arr = byProj[pid];\n  const p = projects[pid] || {};\n  const criterios = [p.criterios, p.voz_criterios].filter(Boolean).join('\\n').trim();\n  const juicio = {}; // external_id → { relevante, score, razon }\n  if (criterios) {\n    const lote = arr.map(d => ({ id: String(d.external_id || ''), texto: String(d.script || '').replace(/\\s+/g, ' ').trim().slice(0, 1500) })).filter(x => x.id && x.texto);\n    if (lote.length) {\n      if (!first) await sleep(SLEEP_MS); first = false;\n      const sys = 'Sos un jurado ESTRICTO de relevancia y calidad. Te doy el tema de un proyecto, sus criterios, y una lista de videos (id + transcript). Para cada uno decidi si es RELEVANTE y UTIL segun los criterios. Precision: ante la duda, marca relevante:false. Devolve UNICAMENTE un JSON {\"juicio\":[{\"id\":\"...\",\"relevante\":true,\"score\":0.0,\"razon\":\"breve\"}]}. score 0..1 = que tan bien cumple los criterios.';\n      const usr = 'TEMA: ' + (p.nombre || '') + '\\nCRITERIOS:\\n' + criterios + '\\n\\nVIDEOS:\\n' + JSON.stringify(lote);\n      try {\n        const resp = await this.helpers.httpRequest({\n          method: 'POST', url: 'https://api.anthropic.com/v1/messages',\n          headers: { 'x-api-key': KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n          body: { model: 'claude-haiku-4-5', max_tokens: 4000, system: sys, messages: [{ role: 'user', content: usr }] },\n          json: true, timeout: 60000\n        });\n        let txt = '';\n        try { txt = (resp.content && resp.content[0] && resp.content[0].text) || ''; } catch (e) {}\n        const m = String(txt).match(/\\{[\\s\\S]*\\}/);\n        if (m) { const parsed = JSON.parse(m[0]); (parsed.juicio || []).forEach(j => { juicio[String(j.id)] = j; }); }\n      } catch (e) { /* fail-open: juicio vacío → todos pasan, ordena por métrica */ }\n    }\n  }\n  const kept = arr.filter(d => { const j = juicio[String(d.external_id)]; return !(j && j.relevante === false); });\n  const prescores = kept.map(d => Number(d.heat_score || 0));\n  kept.forEach(d => {\n    const j = juicio[String(d.external_id)];\n    const sHaiku = j && typeof j.score === 'number' ? Math.max(0, Math.min(1, j.score)) : null;\n    const metricPct = pct(prescores, Number(d.heat_score || 0));\n    const composite = sHaiku != null ? (PESO * sHaiku + (1 - PESO) * metricPct) : metricPct;\n    out.push({ json: Object.assign({}, d, {\n      prescore_metrico: Number(d.heat_score || 0),\n      relevancia_score: sHaiku,\n      relevancia_razon: (j && j.razon) || '',\n      heat_score: Math.round(composite * 10000) / 10000\n    }) });\n  });\n}\nreturn out;\n"
      },
      "id": "gate-relevancia",
      "name": "Gate de relevancia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        400
      ],
      "notes": "Jurado ESTRICTO Haiku sobre el transcript (etapa CALIDAD, ADR-010). Dropea irrelevantes; heat_score = composite semántico⊕métrico (peso_relevancia). Fail-open. Stage 3."
    },
    {
      "parameters": {
        "jsCode": "\nconst out = [];\nfor (const it of $input.all()) {\n  const d = it.json;\n  const titulo = String(d.descripcion || '').replace(/\\s+/g, ' ').trim().slice(0, 80) || (d.username || 'video');\n  out.push({ json: {\n    titulo,\n    script: String(d.script || '').slice(0, 95000),\n    idioma: d.idioma || d.idioma_detectado || '',\n    proyecto_id: d.proyecto_id || null, proyecto_nombre: d.proyecto_nombre || '',\n    voz_id: d.voz_id || null, voz_nombre: d.voz_nombre || '',\n    referente: d.username || '', url_referente: d.url || '',\n    views: Number(d.reproducciones || 0), likes: Number(d.likes || 0),\n    seguidores: Number(d.seguidores || 0), engagement: parseFloat(d.engagement_rate) || 0,\n    heat_score: Number(d.heat_score || 0), viral_por_tamano: !!d.viral_por_tamano,\n    plataforma: d.plataforma || '', external_id: String(d.external_id || ''),\n    relevancia_score: (d.relevancia_score != null ? d.relevancia_score : null),\n    relevancia_razon: d.relevancia_razon || '', thumbnail_url: d.thumbnail_url || ''\n  } });\n}\nreturn out;\n"
      },
      "id": "armar-candidato",
      "name": "Armar candidato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7000,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst recs = $input.all().map(i => {\n  const d = i.json;\n  const f = {\n    titulo: d.titulo, script: d.script, idioma: d.idioma || undefined,\n    referente: d.referente, url_referente: d.url_referente,\n    views: d.views, likes: d.likes, seguidores: d.seguidores, engagement: d.engagement,\n    heat_score: d.heat_score, viral_por_tamano: d.viral_por_tamano,\n    relevancia_score: (d.relevancia_score != null ? d.relevancia_score : undefined),\n    relevancia_razon: d.relevancia_razon || undefined, estado: 'nuevo'\n  };\n  if (d.proyecto_id) f.proyecto = [d.proyecto_id];\n  if (d.voz_id) f.voz = [d.voz_id];\n  if (d.thumbnail_url) f.thumbnail = [{ url: d.thumbnail_url }];\n  return { fields: f };\n});\nconst out = [];\nfor (let i = 0; i < recs.length; i += 10) out.push({ json: { records: recs.slice(i, i + 10), typecast: true } });\nreturn out.length ? out : [];\n"
      },
      "id": "preparar-batch-airtable",
      "name": "Preparar batch Airtable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7280,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.airtable.com/v0/' + $('Config').first().json.airtable_base_id + '/Candidatos' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "post-airtable-candidatos",
      "name": "POST Airtable Candidatos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7560,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst run = $('Abrir run en el registro').first().json || {};\nconst run_id = run.id || null;\nconst outputs = $input.all().map(i => {\n  const d = i.json;\n  return {\n    run_id, external_id: d.external_id || null, tipo: 'guion_reel', titulo: d.titulo || '(sin titulo)',\n    contenido_o_link: d.script || '', estado: 'draft',\n    source_items: [{ platform: d.plataforma || '', url: d.url_referente || '' }],\n    metadata: {\n      proyecto: d.proyecto_nombre || '', voz: d.voz_nombre || '', referente: d.referente || '',\n      url_referente: d.url_referente || '', idioma: d.idioma || '',\n      views: d.views || 0, likes: d.likes || 0, seguidores: d.seguidores || 0,\n      engagement: d.engagement || 0, heat_score: d.heat_score || 0, link_doc: ''\n    }\n  };\n});\nreturn [{ json: { run_id, n: outputs.length, outputs } }];\n"
      },
      "id": "preparar-outputs-supabase",
      "name": "Preparar outputs Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7840,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/outputs' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.outputs) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "reportar-outputs-al-registro",
      "name": "Reportar outputs al registro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8120,
        400
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/runs?id=eq.' + ($('Abrir run en el registro').first().json.id || '00000000-0000-0000-0000-000000000000') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"fin\": \"{{ $now.toISO() }}\", \"estado\": \"ok\", \"metricas\": { \"colectados\": {{ $('Merge scrapes').all().length }}, \"filtrados\": {{ $('Heat-score v1').all().length }}, \"outputs\": {{ $('Preparar outputs Supabase').first().json.n }} } }",
        "options": {
          "timeout": 15000
        }
      },
      "id": "cerrar-run-en-el-registro",
      "name": "Cerrar run en el registro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8400,
        400
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst cfg = $('Config').first().json;\nconst iid = cfg.instance_id && String(cfg.instance_id).indexOf('<<') < 0 ? cfg.instance_id : null;\nconst batch = $input.all().map(i => {\n  const d = i.json;\n  return {\n    instance_id: iid, platform: d.plataforma || '', external_id: String(d.external_id || ''),\n    url: d.url || '', seguidores: Number(d.seguidores || 0),\n    flag_viral: !!d.viral_por_tamano, idioma: d.idioma_guess || null\n  };\n}).filter(r => r.external_id);\nreturn [{ json: { batch } }];\n"
      },
      "id": "preparar-procesados",
      "name": "Preparar procesados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8680,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/processed_items' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "post-processed_items",
      "name": "POST processed_items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8960,
        400
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/runs' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"instance_id\": \"{{ $('Config').first().json.instance_id }}\", \"trigger_type\": \"cron\", \"estado\": \"en_curso\", \"params\": {} }",
        "options": {
          "timeout": 15000
        }
      },
      "id": "abrir-run-en-el-registro",
      "name": "Abrir run en el registro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9240,
        400
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron — semanal (lunes 8am)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar manual": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Abrir run en el registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abrir run en el registro": {
      "main": [
        [
          {
            "node": "Leer Proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Proyectos": {
      "main": [
        [
          {
            "node": "Leer Voces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Voces": {
      "main": [
        [
          {
            "node": "Leer Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Keywords": {
      "main": [
        [
          {
            "node": "Leer Referentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Referentes": {
      "main": [
        [
          {
            "node": "Armar plan de corrida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar plan de corrida": {
      "main": [
        [
          {
            "node": "Apify — IG Reels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Apify — TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify — IG Reels": {
      "main": [
        [
          {
            "node": "Normalizar IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify — TikTok": {
      "main": [
        [
          {
            "node": "Normalizar TT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar IG": {
      "main": [
        [
          {
            "node": "Merge scrapes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar TT": {
      "main": [
        [
          {
            "node": "Merge scrapes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge scrapes": {
      "main": [
        [
          {
            "node": "Asignar proyecto+voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar proyecto+voz": {
      "main": [
        [
          {
            "node": "Pre-trim relevancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer señal selección": {
      "main": [
        [
          {
            "node": "Leer procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer procesados": {
      "main": [
        [
          {
            "node": "Heat-score v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heat-score v1": {
      "main": [
        [
          {
            "node": "Transcribir (Supadata)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar candidato": {
      "main": [
        [
          {
            "node": "Preparar batch Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar outputs Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar batch Airtable": {
      "main": [
        [
          {
            "node": "POST Airtable Candidatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar outputs Supabase": {
      "main": [
        [
          {
            "node": "Reportar outputs al registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reportar outputs al registro": {
      "main": [
        [
          {
            "node": "Cerrar run en el registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar procesados": {
      "main": [
        [
          {
            "node": "POST processed_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-trim relevancia": {
      "main": [
        [
          {
            "node": "Leer señal selección",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir (Supadata)": {
      "main": [
        [
          {
            "node": "Traducir (Claude Haiku)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traducir (Claude Haiku)": {
      "main": [
        [
          {
            "node": "Gate de relevancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate de relevancia": {
      "main": [
        [
          {
            "node": "Armar candidato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36271efba4145e6febca668c39e9b0ec62832fee7a2b9294b41b8d1357ae3a66"
  },
  "tags": [
    {
      "updatedAt": "2026-03-23T18:48:09.229Z",
      "createdAt": "2026-03-23T18:48:09.229Z",
      "id": "MYEMZPpWW0T7vIGC",
      "name": "Content Strategy"
    },
    {
      "updatedAt": "2026-03-23T18:48:09.173Z",
      "createdAt": "2026-03-23T18:48:09.173Z",
      "id": "pMYxeIphxGeqlevj",
      "name": "Scraping"
    },
    {
      "updatedAt": "2026-03-23T18:48:09.242Z",
      "createdAt": "2026-03-23T18:48:09.242Z",
      "id": "E8GwDvIr40IyDTSw",
      "name": "AI Automation"
    }
  ]
}
