Workflows/workflow-short-form-content/workflow.json
{
  "name": "Motor de reels — referentes → candidatos (ADR-009)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "cron-semanal",
      "name": "Cron — semanal (lunes 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {},
      "id": "ejecutar-manual",
      "name": "Ejecutar manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "airtable_base_id",
              "value": "<<AIRTABLE_BASE_ID>>",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "supabase_url",
              "value": "<<SUPABASE_URL>>",
              "type": "string"
            },
            {
              "id": "c3",
              "name": "instance_id",
              "value": "<<INSTANCE_ID>>",
              "type": "string"
            },
            {
              "id": "c4",
              "name": "resultados_referente",
              "value": 20,
              "type": "number"
            },
            {
              "id": "c5",
              "name": "top_n",
              "value": 100,
              "type": "number"
            },
            {
              "id": "c_dias",
              "name": "dias_recencia",
              "value": 7,
              "type": "number"
            },
            {
              "id": "c_caprr",
              "name": "cap_resultados_referente",
              "value": 50,
              "type": "number"
            },
            {
              "id": "c_capn",
              "name": "cap_top_n",
              "value": 100,
              "type": "number"
            },
            {
              "id": "c_dcap",
              "name": "cap_descartes",
              "value": 10,
              "type": "number"
            },
            {
              "id": "c_budget",
              "name": "presupuesto_transcribir_s",
              "value": 780,
              "type": "number"
            },
            {
              "id": "c_piso",
              "name": "piso_referente",
              "value": 5,
              "type": "number"
            },
            {
              "id": "c_ventana",
              "name": "ventana_corrida_min",
              "value": 120,
              "type": "number"
            },
            {
              "id": "c_ref_ig",
              "name": "buscar_referente_ig",
              "value": 1,
              "type": "number"
            },
            {
              "id": "c_ref_tt",
              "name": "buscar_referente_tiktok",
              "value": 1,
              "type": "number"
            },
            {
              "id": "c6",
              "name": "peso_views",
              "value": 0.4,
              "type": "number"
            },
            {
              "id": "c7",
              "name": "peso_likes",
              "value": 0.4,
              "type": "number"
            },
            {
              "id": "c8",
              "name": "peso_eng",
              "value": 0.2,
              "type": "number"
            },
            {
              "id": "c_relev",
              "name": "peso_relevancia",
              "value": 0.7,
              "type": "number"
            },
            {
              "id": "c10",
              "name": "boost_idioma",
              "value": 0.3,
              "type": "number"
            },
            {
              "id": "c11",
              "name": "umbral_viral",
              "value": 700000,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.airtable.com/v0/' + $('Config').first().json.airtable_base_id + '/Proyectos' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "options": {
          "timeout": 20000,
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "qs",
                    "name": "offset",
                    "value": "={{ $response.body.offset }}"
                  }
                ]
              },
              "paginationMode": "updateAParameterInEachRequest",
              "nextURL": "",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body.offset }}",
              "limitPagesFetched": false
            }
          }
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "{activo}"
            }
          ]
        }
      },
      "id": "leer-proyectos",
      "name": "Leer Proyectos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.airtable.com/v0/' + $('Config').first().json.airtable_base_id + '/Voces' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "options": {
          "timeout": 20000,
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "qs",
                    "name": "offset",
                    "value": "={{ $response.body.offset }}"
                  }
                ]
              },
              "paginationMode": "updateAParameterInEachRequest",
              "nextURL": "",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body.offset }}",
              "limitPagesFetched": false
            }
          }
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "{activo}"
            }
          ]
        }
      },
      "id": "leer-voces",
      "name": "Leer Voces",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.airtable.com/v0/' + $('Config').first().json.airtable_base_id + '/Referentes' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "options": {
          "timeout": 20000,
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "qs",
                    "name": "offset",
                    "value": "={{ $response.body.offset }}"
                  }
                ]
              },
              "paginationMode": "updateAParameterInEachRequest",
              "nextURL": "",
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body.offset }}",
              "limitPagesFetched": false
            }
          }
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "{activo}"
            }
          ]
        }
      },
      "id": "leer-referentes",
      "name": "Leer Referentes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst recs = (n) => $(n).all().flatMap((it) => (it.json && it.json.records) || []);\nconst proyectos = recs('Leer Proyectos');\nconst voces = recs('Leer Voces');\nconst referentes = recs('Leer Referentes');\nconst _nrm = (s) => (s||'').toString().toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').replace(/\\s+/g,' ').trim();\nconst cfg0 = $('Config').first().json;\nconst AJUSTE_MAP = { 'peso de vistas':'peso_views', 'peso de likes':'peso_likes', 'peso de interaccion':'peso_eng', 'peso de relevancia':'peso_relevancia', 'bonus idioma extranjero':'boost_idioma', 'seguidores para marcar viral':'umbral_viral', 'minimo de vistas':'min_views', 'minimo de likes':'min_likes', 'relevancia minima':'min_relevancia', 'candidatos por corrida':'top_n', 'dias de recencia':'dias_recencia', 'resultados por cuenta de referente':'resultados_referente', 'buscar por referentes en instagram':'buscar_referente_ig', 'buscar por referentes en tiktok':'buscar_referente_tiktok' };\nconst ajustes = {};\nrecs('Leer Ajustes').forEach(a => { const f = a.fields || {}; const key = AJUSTE_MAP[_nrm(f.clave)]; if (key && f.valor !== undefined && f.valor !== null && f.valor !== '') ajustes[key] = Number(f.valor); });\n\n// Knobs de ejecucion GLOBALES (ADR-016): ajustes (equipo) > Config (default). Topes dev-only en Config.\nconst pick = (k, d) => (ajustes[k] != null ? ajustes[k] : (cfg0[k] != null ? Number(cfg0[k]) : d));\nconst dias_recencia = Number(pick('dias_recencia', 7));\nconst top_n = Number(pick('top_n', 100));\nconst cap_rr = Number(cfg0.cap_resultados_referente || 0);\nconst rr_raw = Number(pick('resultados_referente', 20));\nconst resultados_referente = cap_rr > 0 ? Math.min(rr_raw, cap_rr) : rr_raw; // cap max (ADR-016)\nconst cap_top_n = Number(cfg0.cap_top_n || 0);\n// Toggles de eje (ADR-017): ajustes (equipo) > Config. Default ON. Referentes en ambas plataformas — unico eje de descubrimiento (ADR-019).\nconst BUSCAR_REF_IG = Number(pick('buscar_referente_ig', 1)) > 0;\nconst BUSCAR_REF_TT = Number(pick('buscar_referente_tiktok', 1)) > 0;\n\n// 'Leer Voces' ya viene filtrado por {activo} (C.2): lo que no está acá, está apagado.\nconst vozById = {};\nconst vozCritById = {};\nvoces.forEach(v => { const vf = v.fields || {}; vozById[v.id] = vf.nombre || ''; vozCritById[v.id] = (vf.criterios_relevancia || '').toString().trim(); });\n\nconst projects = {};\nproyectos.forEach(p => {\n  const f = p.fields || {};\n  const vozId = Array.isArray(f.voz_default) && f.voz_default[0] ? f.voz_default[0] : null;\n  // Voces.activo (C.2): un proyecto activo cuya VOZ esta apagada NO corre. La voz es la espina dorsal:\n  // se prende/apaga como unidad y arrastra a sus proyectos. Un proyecto SIN voz no esta gateado (corre).\n  if (vozId && !vozById.hasOwnProperty(vozId)) { console.log('[Plan] proyecto salteado (voz apagada): ' + (f.nombre || p.id)); return; }\n  // Anomalia de dato: voz_default es multi-link y el contrato dice 1 proyecto = 1 voz. Si hay mas de\n  // una, el motor usa la PRIMERA (criterios, nombre y este gate) y las demas se ignoran. Se avisa en\n  // vez de tragarselo — si esto aparece, hay que limpiar el dato o cambiar el modelo (no el codigo).\n  if (Array.isArray(f.voz_default) && f.voz_default.length > 1) console.log('[Plan] ⚠️ ' + (f.nombre || p.id) + ' tiene ' + f.voz_default.length + ' voces linkeadas; se usa solo la primera. Limpiar voz_default.');\n  // N por proyecto (ADR-024): el campo del proyecto manda; el global 'Candidatos por corrida' es el\n  // default. Misma semantica en cron y on-demand. 0/vacio/no-numero => cae al global.\n  const _nProy = Number(f.N);\n  projects[p.id] = {\n    id: p.id, nombre: f.nombre || '', n: (_nProy > 0 ? _nProy : top_n),\n    voz_id: vozId, voz_nombre: vozId && vozById[vozId] ? vozById[vozId] : '',\n    criterios: (f.criterios_relevancia || '').toString().trim(),\n    criterios_aprendidos: (f.criterios_aprendidos || '').toString().trim(),\n    voz_criterios: vozId && vozCritById[vozId] ? vozCritById[vozId] : '',\n    ig_handles: [], tt_handles: []\n  };\n});\nreferentes.forEach(r => {\n  const f = r.fields || {};\n  const handle = String(f.handle || '').trim().replace(/^@/, '');\n  if (!handle) return;\n  const plat = String(f.plataforma || '').toLowerCase();\n  (Array.isArray(f.proyecto) ? f.proyecto : []).forEach(proy => {\n    if (!projects[proy]) return;\n    if (plat.indexOf('insta') >= 0) projects[proy].ig_handles.push(handle);\n    else if (plat.indexOf('tik') >= 0) projects[proy].tt_handles.push(handle);\n  });\n});\n\nconst ig_urls = []; const ig_owner_to_proj = {};\nconst tt_profiles = []; const tt_owner_to_proj = {};\nObject.values(projects).forEach(p => {\n  // Referente: IG por cuenta (directUrls), TikTok por perfil (profiles). Gateado por toggle (ADR-017).\n  if (BUSCAR_REF_IG) p.ig_handles.forEach(h => { ig_urls.push('https://www.instagram.com/' + h + '/'); (ig_owner_to_proj[h.toLowerCase()] = ig_owner_to_proj[h.toLowerCase()] || []).push(p.id); });\n  if (BUSCAR_REF_TT) p.tt_handles.forEach(h => { tt_profiles.push(h); (tt_owner_to_proj[h.toLowerCase()] = tt_owner_to_proj[h.toLowerCase()] || []).push(p.id); });\n});\n\nreturn [{ json: {\n  projects, ig_urls: [...new Set(ig_urls)], tt_profiles: [...new Set(tt_profiles)],\n  ig_owner_to_proj, tt_owner_to_proj, active_project_ids: Object.keys(projects),\n  dias_recencia, resultados_referente, top_n, cap_top_n, ajustes\n} }];\n"
      },
      "id": "armar-plan-de-corrida",
      "name": "Armar plan de corrida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        400
      ]
    },
    {
      "id": "split-ig-referentes",
      "name": "Split IG referentes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        260
      ],
      "parameters": {
        "jsCode": "\n// #24: un item por referente IG -> el Apify IG Reels corre 1 vez por cuenta,\n// cada llamada con su propio cupo (resultsLimit deja de ser global). Reparte equitativo.\nconst urls = ($('Armar plan de corrida').first().json.ig_urls) || [];\nreturn urls.map(u => ({ json: { ig_url: u } }));\n"
      }
    },
    {
      "parameters": {
        "authentication": "apifyApi",
        "resource": "Actors",
        "operation": "Run actor and get dataset",
        "actorId": "apify~instagram-scraper",
        "customBody": "={{ (function(){ var p=$('Armar plan de corrida').first().json; var a=p.ajustes||{}; var d=Number(p.dias_recencia||0); var b={ directUrls: [$json.ig_url], resultsType: 'reels', resultsLimit: p.resultados_referente, searchType: 'user', searchLimit: 1, addParentData: true }; if(d>0) b.onlyPostsNewerThan = d + ' days'; return b; })() }}"
      },
      "id": "apify-ig-reels",
      "name": "Apify — IG Reels",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        1960,
        400
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst item = $input.item.json;\n// Solo reels/videos: IG trae fotos y carruseles que no se pueden transcribir; descartar lo que no sea video.\nif (item.type && item.type !== 'Video') { return null; }\n// Stub de Apify (llamada vacía devuelve {error:'no_items'}): sin id ni url -> descartar.\nif (!(item.id || item.shortCode || item.shortcode) && !item.url) { return null; }\nconst seguidores = item.followersCount || item.ownerFollowersCount || (item.metaData && item.metaData.followersCount) || 0;\nreturn { json: {\n  plataforma: 'instagram',\n  external_id: String(item.id || item.shortCode || item.shortcode || ''),\n  username: item.ownerUsername || '',\n  nombre: item.ownerFullName || '',\n  seguidores,\n  bio: item.biography || item.ownerBio || (item.metaData && item.metaData.biography) || '',\n  descripcion: item.caption || '',\n  likes: item.likesCount || 0,\n  comentarios: item.commentsCount || 0,\n  reproducciones: item.videoViewCount || item.videoPlayCount || item.igPlayCount || 0,\n  url: item.url || '',\n  video_url: item.url || '',\n  thumbnail_url: item.displayUrl || '',\n  hashtags: (item.hashtags || []).join(', '),\n  duracion_video: item.videoDuration || 0,\n  engagement_rate: seguidores > 0 ? (((item.likesCount || 0) + (item.commentsCount || 0)) / seguidores * 100).toFixed(2) : '0',\n  fecha_publicacion: (function(){ var d = new Date(item.timestamp); return isNaN(d.getTime()) ? '' : d.toISOString().split('T')[0]; })()\n} };\n"
      },
      "id": "normalizar-ig",
      "name": "Normalizar IG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2520,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst item = $input.item.json;\n// Stub de un eje vacío (TikTok-Perfil con 0 referentes devuelve {}): sin id ni url -> descartar.\nif (!item.id && !item.webVideoUrl) { return null; }\nconst am = item.authorMeta || {};\nconst seguidores = am.fans || 0;\nreturn { json: {\n  plataforma: 'tiktok',\n  idioma_nativo: (item.textLanguage && item.textLanguage !== 'un') ? String(item.textLanguage).toLowerCase().slice(0, 2) : '',\n  external_id: String(item.id || ''),\n  username: am.name || '',\n  nombre: am.nickName || '',\n  seguidores,\n  bio: am.signature || '',\n  descripcion: item.text || item.desc || '',\n  likes: item.diggCount || 0,\n  comentarios: item.commentCount || 0,\n  reproducciones: item.playCount || 0,\n  url: item.webVideoUrl || '',\n  video_url: item.webVideoUrl || '',\n  thumbnail_url: (item.videoMeta && item.videoMeta.coverUrl) || '',\n  hashtags: (item.hashtags || []).map(function (h) { return h.name || h; }).join(', '),\n  duracion_video: item.videoMeta ? (item.videoMeta.duration || 0) : 0,\n  engagement_rate: seguidores > 0 ? (((item.diggCount || 0) + (item.commentCount || 0)) / seguidores * 100).toFixed(2) : '0',\n  fecha_publicacion: item.createTimeISO ? item.createTimeISO.split('T')[0] : ''\n} };\n"
      },
      "id": "normalizar-tt",
      "name": "Normalizar TT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        400
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-scrapes",
      "name": "Merge scrapes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3080,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $('Armar plan de corrida').first().json;\nconst projects = plan.projects, ig_owner = plan.ig_owner_to_proj || {}, tt_owner = plan.tt_owner_to_proj || {};\nconst activeIds = plan.active_project_ids || [];\nconst DIAS = Number(plan.dias_recencia || 0); // recencia global (ADR-016)\nconst out = [];\nfor (const it of $input.all()) {\n  const d = it.json;\n  if (!d.url) continue;\n  const u = String(d.username || '').toLowerCase().replace(/^@/, '');\n  // Fan-out (ADR-013): un mismo video puede ser reclamado por varios proyectos activos a la vez\n  // (referente compartido entre proyectos). Solo reclama el referente (ADR-019).\n  const claims = {};\n  const ownerList = (d.plataforma || '') === 'instagram' ? (ig_owner[u] || [])\n                  : (d.plataforma || '') === 'tiktok' ? (tt_owner[u] || []) : [];\n  ownerList.forEach(pid => { if (!(pid in claims)) claims[pid] = ''; });\n  // fallback: si nada lo reclamo y hay UN solo proyecto activo, se lo lleva ese.\n  let pids = Object.keys(claims);\n  if (!pids.length && activeIds.length === 1) { claims[activeIds[0]] = ''; pids = [activeIds[0]]; }\n  for (const proyId of pids) {\n    const p = projects[proyId];\n    if (!p) continue;\n    // guardia de recencia (capa 2): descarta lo mas viejo que dias_recencia del proyecto.\n    // 0 = sin limite. Si no hay fecha, se conserva (no se puede juzgar la edad).\n    if (DIAS > 0 && d.fecha_publicacion) {\n      const ts = Date.parse(d.fecha_publicacion);\n      if (Number.isFinite(ts) && (Date.now() - ts) > DIAS * 86400000) continue;\n    }\n    out.push({ json: Object.assign({}, d, {\n      proyecto_id: proyId, proyecto_nombre: p.nombre, voz_id: p.voz_id, voz_nombre: p.voz_nombre\n    }) });\n  }\n}\nreturn out;"
      },
      "id": "asignar-proyecto-voz",
      "name": "Asignar proyecto+voz",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Pre-trim de relevancia (Haiku) — colador LAXO sobre el caption, ANTES de transcribir.\n// Optimiza recall: descarta solo lo OBVIAMENTE off-topic. Fail-open (si Haiku falla, pasa todo).\n// Caption pobre (sin texto real): pasa sin juicio -> lo juzga el gate con el transcript.\nconst KEY = '<ANTHROPIC_API_KEY>';\nconst plan = $('Armar plan de corrida').first().json || {};\nconst projects = plan.projects || {};\nconst items = $('Asignar proyecto+voz').all().map(i => i.json);\n\nconst byProj = {};\nitems.forEach(d => { (byProj[d.proyecto_id] = byProj[d.proyecto_id] || []).push(d); });\n\nconst drop = new Set();\nfor (const pid in byProj) {\n  const arr = byProj[pid];\n  const p = projects[pid] || {};\n  const critProy = (p.criterios || '').toString().trim();\n  const critVoz = (p.voz_criterios || '').toString().trim();\n  const criterios = [critProy, critVoz].filter(Boolean).join('\\n').trim();\n  const criteriosTxt = [critProy ? 'CRITERIOS DE TEMA (principal):\\n' + critProy : '', critVoz ? 'AJUSTE DE VOZ (complementa, no manda):\\n' + critVoz : ''].filter(Boolean).join('\\n\\n');\n  if (!criterios) continue; // sin rúbrica no se juzga: no se descarta nada\n  // Caption pobre = sin evidencia para juzgar (fix calidad run 07-09): pasa SIN juicio ->\n  // lo juzga el gate con el transcript (la fuente siempre es curada: referente, ADR-019).\n  const _senal = (d) => String(d.descripcion || '').replace(/https?:\\/\\/\\S+/g, ' ').replace(/[#@]\\S+/g, ' ').replace(/[^\\p{L}\\p{N}?!.,;: ]/gu, ' ').replace(/\\s+/g, ' ').trim();\n  const _judge = [];\n  let _exentos = 0;\n  for (const d of arr) {\n    if (!String(d.external_id || '')) continue;\n    if (_senal(d).length < 25) { _exentos++; continue; }\n    _judge.push(d);\n  }\n  if (_exentos) console.log('[Pre-trim] captions pobres pid=' + pid + ': ' + _exentos + ' exentos (pasan al gate)');\n  const lote = _judge.map(d => ({\n    id: String(d.external_id || ''),\n    texto: (String(d.descripcion || '') + ' ' + String(d.hashtags || '')).replace(/\\s+/g, ' ').trim().slice(0, 500)\n  })).filter(x => x.id);\n  if (!lote.length) continue;\n  const sys = 'Sos un filtro de relevancia LAXO. Te doy el tema de un proyecto, sus criterios (el TEMA manda; el AJUSTE DE VOZ solo complementa), y una lista de videos (id + texto del caption). Devolve UNICAMENTE un JSON {\"descartar\":[ids]} con los ids OBVIAMENTE fuera de tema. En la duda NO descartes (preferimos dejar pasar de mas). No expliques nada.';\n  const usr = 'TEMA: ' + (p.nombre || '') + '\\n' + criteriosTxt + '\\n\\nVIDEOS:\\n' + JSON.stringify(lote);\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: { 'x-api-key': KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n      body: { model: 'claude-haiku-4-5', max_tokens: 1000, system: sys, messages: [{ role: 'user', content: usr }] },\n      json: true,\n      timeout: 30000\n    });\n    let txt = '';\n    try { txt = (resp.content && resp.content[0] && resp.content[0].text) || ''; } catch (e) {}\n    const m = String(txt).match(/\\{[\\s\\S]*\\}/);\n    if (m) { const parsed = JSON.parse(m[0]); (parsed.descartar || []).forEach(id => drop.add(pid + '|' + String(id))); }\n  } catch (e) { /* fail-open: no se descarta nada de este proyecto */ }\n}\n\nconst _desc = [...drop];\nconsole.log('[Pre-trim] descartados off-topic: ' + _desc.length + '/' + items.length + (_desc.length ? ' -> ' + _desc.join(', ') : ''));\nconst out = [];\nfor (const d of items) { if (!drop.has(String(d.proyecto_id) + '|' + String(d.external_id || ''))) out.push({ json: d }); }\nreturn out;\n"
      },
      "id": "pre-trim-relevancia",
      "name": "Pre-trim relevancia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        200
      ],
      "notes": "Haiku LAXO sobre el caption: descarta off-topic obvio antes de transcribir. Fail-open. Lee criterios_relevancia del Proyecto/Voz vía 'Armar plan'. ADR-010 / Stage 2."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/v_senal_seleccion?select=referente,idioma,tasa_seleccion' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "timeout": 15000
        }
      },
      "id": "leer-se-al-selecci-n",
      "name": "Leer señal selección",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        400
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ (function(){ var ids = Array.from(new Set($('Pre-trim relevancia').all().map(function(i){ return String((i.json && i.json.external_id) || ''); }).filter(Boolean))); var base = $('Config').first().json.supabase_url + '/rest/v1/processed_items?select=external_id,platform'; return ids.length ? base + '&external_id=in.(' + ids.join(',') + ')' : base + '&limit=1'; })() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "timeout": 15000
        }
      },
      "id": "leer-procesados",
      "name": "Leer procesados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        400
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst cfg = Object.assign({}, $('Config').first().json, ($('Armar plan de corrida').first().json.ajustes || {}));\nconst rows = (n) => { const a = $(n).all().map(i => i.json); if (a.length === 1 && Array.isArray(a[0])) return a[0]; return a; };\nconst items = $('Pre-trim relevancia').all().map(i => i.json);\nconst seen = new Set(rows('Leer procesados').map(r => r && String(r.external_id)).filter(Boolean));\nconst signal = {};\nrows('Leer señal selección').forEach(r => { if (r && r.referente !== undefined) signal[(r.referente || '') + '|' + (r.idioma || '')] = Number(r.tasa_seleccion || 0); });\n\nconst norm = (s) => (s || '').toString().toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst DICT = {\n  es: [' el ', ' la ', ' los ', ' las ', ' que ', ' de ', ' para ', ' con ', ' una ', ' como ', ' pero ', ' esto '],\n  en: [' the ', ' and ', ' you ', ' for ', ' with ', ' this ', ' that ', ' your ', ' are ', ' have ', ' what '],\n  pt: [' uma ', ' voce ', ' nao ', ' isso ', ' mais ', ' como ', ' obrigado ', ' entao ', ' muito '],\n  it: [' il ', ' che ', ' per ', ' una ', ' questo ', ' come ', ' sono ', ' non ', ' anche ', ' molto '],\n  fr: [' les ', ' une ', ' pour ', ' avec ', ' vous ', ' est ', ' pas ', ' comme ', ' dans ', ' mais '],\n  de: [' der ', ' die ', ' und ', ' ist ', ' nicht ', ' ein ', ' mit ', ' das ', ' ich ', ' auch '],\n  nl: [' het ', ' een ', ' van ', ' ik ', ' niet ', ' met ', ' dat ', ' zijn ', ' voor ', ' ook ']\n};\n// scripts no-latinos: evidencia directa de NO-español (caen a 'ot' -> reciben boost)\nconst NONLATIN = /[\\u3040-\\u30ff\\u4e00-\\u9fff\\uac00-\\ud7af\\u0400-\\u04ff\\u0600-\\u06ff\\u0590-\\u05ff\\u0900-\\u097f\\u0e00-\\u0e7f\\u0370-\\u03ff]/;\nconst guessLang = (raw) => {\n  const orig = (raw || '').toString();\n  if (NONLATIN.test(orig)) return 'ot';\n  const t = ' ' + norm(orig) + ' '; let best = '', bestN = 0;\n  for (const lng in DICT) { let n = 0; DICT[lng].forEach(w => { if (t.indexOf(w) >= 0) n++; }); if (n > bestN) { bestN = n; best = lng; } }\n  if (bestN > 0) return best;\n  // sin stopwords reconocidas: marcas fuertes de español -> es; si no, desconocido -> 'ot' (premia no-español)\n  if (/[ñ¿¡áéíóú]/.test(orig.toLowerCase())) return 'es';\n  return 'ot';\n};\nconst pct = (arr, v) => { if (arr.length <= 1) return 1; let c = 0; for (const x of arr) if (x <= v) c++; return c / arr.length; };\n\nconst byProj = {};\nitems.forEach(d => { (byProj[d.proyecto_id] = byProj[d.proyecto_id] || []).push(d); });\nconst out = [];\nfor (const pid in byProj) {\n  const arr = byProj[pid];\n  const views = arr.map(d => Number(d.reproducciones || 0));\n  const likes = arr.map(d => Number(d.likes || 0));\n  const engs = arr.map(d => parseFloat(d.engagement_rate) || 0);\n  const scored = arr.map(d => {\n    const v = Number(d.reproducciones || 0), l = Number(d.likes || 0), e = parseFloat(d.engagement_rate) || 0;\n    const idioma = d.idioma_nativo || guessLang((d.descripcion || '') + ' ' + (d.bio || ''));\n    const idiomaBoost = idioma !== 'es' ? Number(cfg.boost_idioma || 0.3) : 0;\n    const sel = signal[(d.username || '') + '|' + idioma] || 0; // señal por referente (ADR-019)\n    const base = Number(cfg.peso_views || 0.4) * pct(views, v) + Number(cfg.peso_likes || 0.4) * pct(likes, l) + Number(cfg.peso_eng || 0.2) * pct(engs, e);\n    const heat = base * (1 + idiomaBoost) * (1 + sel);\n    return Object.assign({}, d, {\n      idioma_guess: idioma, heat_score: Math.round(heat * 10000) / 10000,\n      viral_por_tamano: Number(d.seguidores || 0) > Number(cfg.umbral_viral || 700000)\n    });\n  });\n  const MIN_V = Number(cfg.min_views || 0), MIN_L = Number(cfg.min_likes || 0);\n  const fresh = scored.filter(d => !seen.has(String(d.external_id)) && Number(d.reproducciones || 0) >= MIN_V && Number(d.likes || 0) >= MIN_L);\n  fresh.sort((a, b) => b.heat_score - a.heat_score);\n  fresh.forEach(d => out.push({ json: d })); // ADR-016: sin corte por proyecto; se transcribe todo\n}\n// cap_top_n (dev-only): techo duro de transcripcion por corrida (protege backfill).\n// ADR-016: cuenta VIDEOS DISTINTOS por heat, no filas (video,proyecto); el fan-out no consume cupo.\nconst CAP = Number($('Config').first().json.cap_top_n || 0);\nif (CAP > 0) { out.sort((a, b) => (b.json.heat_score || 0) - (a.json.heat_score || 0)); const keepIds = new Set(); const capped = []; for (const it of out) { const id = String(it.json.external_id || ''); if (!id) { capped.push(it); continue; } if (!keepIds.has(id)) { if (keepIds.size >= CAP) continue; keepIds.add(id); } capped.push(it); } return capped; }\nreturn out;\n"
      },
      "id": "heat-score-v1",
      "name": "Heat-score v1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Transcribir (Supadata) — dedup intra-corrida (ADR-016): cada external_id se transcribe UNA vez y\n// el transcript se reparte a TODAS las copias (fan-out). external_id atado al item (#8). lang de\n// Supadata primario; fallback adivina sobre el TRANSCRIPT (#7). Fail-open: si falla, transcripcion vacia.\nconst KEY = '<SUPADATA_API_KEY>';\nconst SLEEP_MS = 1000;\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\nconst norm = (s) => (s || '').toString().toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst DICT = {\n  es: [' el ',' la ',' que ',' de ',' para ',' con ',' una ',' como ',' pero ',' esto '],\n  en: [' the ',' and ',' you ',' for ',' with ',' this ',' that ',' your ',' are ',' what '],\n  pt: [' uma ',' voce ',' nao ',' isso ',' mais ',' como ',' entao ',' muito '],\n  it: [' il ',' che ',' per ',' una ',' questo ',' come ',' sono ',' non ',' molto '],\n  fr: [' les ',' une ',' pour ',' avec ',' vous ',' est ',' pas ',' comme ',' mais ']\n};\nconst guessLang = (txt) => {\n  const t = ' ' + norm(txt) + ' '; let best = '', bestN = 0;\n  for (const lng in DICT) { let n = 0; DICT[lng].forEach(p => { if (t.indexOf(p) >= 0) n++; }); if (n > bestN) { bestN = n; best = lng; } }\n  return bestN === 0 ? '' : best;\n};\nconst items = $input.all();\n// 1) videos distintos por external_id (url de respaldo)\nconst order = []; const firstUrl = {};\nfor (const it of items) { const d = it.json; const id = String(d.external_id || d.url || ''); if (!id) continue; if (!(id in firstUrl)) { firstUrl[id] = d.video_url || d.url || ''; order.push(id); } }\nconsole.log(`[Transcribir] ${items.length} items / ${order.length} videos distintos`);\n// 2) transcribir cada distinto UNA vez\nconst cache = {}; const loopStart = Date.now();\n// Presupuesto de tiempo (cierre 31): el watchdog del task runner (N8N_RUNNERS_TASK_TIMEOUT, 900s en\n// el pod) mata el NODO ENTERO y el run muere sin entregar nada (pasó 3x el 07-10 con top_n≈100).\n// Con presupuesto, el loop se corta ANTES y el resto pasa SIN transcript (fail-open: el gate juzga\n// por caption y el candidato sale marcado SIN GUION). Dev-only en Config; 0 = sin presupuesto.\nconst BUDGET_MS = Math.max(0, Number($('Config').first().json.presupuesto_transcribir_s || 0)) * 1000;\nfor (let i = 0; i < order.length; i++) {\n  if (BUDGET_MS && Date.now() - loopStart > BUDGET_MS) { console.log(`[Transcribir] PRESUPUESTO agotado (${Math.round(BUDGET_MS / 1000)}s): ${order.length - i} videos quedan sin transcript (fail-open)`); break; }\n  const id = order[i]; const url = firstUrl[id];\n  let txt = '', lang = '';\n  const t0 = Date.now();\n  console.log(`[Transcribir] Video ${i+1}/${order.length} — url: ${url}`);\n  if (url) {\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'GET',\n        url: 'https://api.supadata.ai/v1/transcript?url=' + encodeURIComponent(url) + '&text=true&mode=auto',\n        headers: { 'x-api-key': KEY }, json: true, timeout: 90000\n      });\n      txt = (typeof resp.content === 'string' && resp.content) || (typeof resp.text === 'string' && resp.text) || '';\n      lang = String(resp.lang || resp.language || '').toLowerCase().slice(0, 2);\n      console.log(`[Transcribir] Video ${i+1}/${order.length} — OK en ${Date.now()-t0}ms`);\n    } catch (e) { console.log(`[Transcribir] Video ${i+1}/${order.length} — ERROR/TIMEOUT en ${Date.now()-t0}ms: ${e.message}`); }\n    if (i < order.length - 1) await sleep(SLEEP_MS);\n  }\n  cache[id] = { txt: String(txt || '').trim().substring(0, 6000), lang };\n}\nconsole.log(`[Transcribir] Loop completo en ${Date.now()-loopStart}ms`);\n// 3) repartir a TODAS las copias\nconst out = [];\nfor (const it of items) {\n  const d = it.json; const id = String(d.external_id || d.url || '');\n  const c = cache[id] || { txt: '', lang: '' };\n  const idioma = c.lang || guessLang(c.txt) || d.idioma_guess || 'es';\n  out.push({ json: Object.assign({}, d, { transcripcion: c.txt, idioma_detectado: idioma }) });\n}\nreturn out;"
      },
      "id": "transcribir-supadata",
      "name": "Transcribir (Supadata)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        400
      ],
      "notes": "Supadata vía this.helpers.httpRequest. external_id atado al item (mata #8 merge-by-position). lang de Supadata primario, fallback sobre el transcript (mata #7). Fail-open."
    },
    {
      "parameters": {
        "jsCode": "\n// Traducir (Claude Haiku) — reemplaza IF + Script-desde-transcripción + Claude HTTP + Merge(pos) + Parsear.\n// Traduce literal al español SOLO si el original no está en español. external_id atado al item (#8).\n// Dedup intra-corrida (cierre 31, espejo de Transcribir): cada video distinto se traduce UNA vez y el\n// script se reparte a TODAS las copias del fan-out (antes se pagaba 1 llamada Haiku por copia).\n// Fail-open: si la traducción falla o devuelve vacío, el script queda como el transcript original.\nconst KEY = '<ANTHROPIC_API_KEY>';\nconst SLEEP_MS = 1000; // throttle entre llamadas reales\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\nconst SYS = 'Sos un traductor literal. Traduci el texto al espanol neutro de forma fiel y literal: sin reescribir, sin resumir, sin embellecer, sin agregar ni quitar nada; conserva el sentido y el orden. Devolve UNICAMENTE el texto traducido, sin comillas ni comentarios.';\nconst items = $input.all();\n// 1) videos distintos que necesitan traducción (transcript no vacío y no-ES)\nconst order = []; const seen = new Set();\nfor (const it of items) {\n  const d = it.json; const id = String(d.external_id || d.url || '');\n  if (!id || seen.has(id)) continue;\n  seen.add(id);\n  const transcript = String(d.transcripcion || '');\n  const idioma = d.idioma_detectado || d.idioma_guess || 'es';\n  if (transcript && idioma !== 'es') order.push({ id, transcript });\n}\nconsole.log('[Traducir] ' + items.length + ' items / ' + order.length + ' videos distintos a traducir');\n// 2) traducir cada distinto UNA vez\nconst cache = {};\nfor (let i = 0; i < order.length; i++) {\n  const { id, transcript } = order[i];\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: { 'x-api-key': KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n      body: { model: 'claude-haiku-4-5', max_tokens: 2000, system: SYS, messages: [{ role: 'user', content: transcript.substring(0, 6000) }] },\n      json: true, timeout: 60000\n    });\n    let tr = '';\n    try { tr = (resp.content && resp.content[0] && resp.content[0].text) || ''; } catch (e) {}\n    tr = String(tr || '').trim();\n    if (tr) cache[id] = tr;\n  } catch (e) { /* fail-open: esta copia queda con el transcript original */ }\n  if (i < order.length - 1) await sleep(SLEEP_MS);\n}\n// 3) repartir a TODAS las copias\nconst out = [];\nfor (const it of items) {\n  const d = it.json; const id = String(d.external_id || d.url || '');\n  const transcript = String(d.transcripcion || '');\n  const idioma = d.idioma_detectado || d.idioma_guess || 'es';\n  out.push({ json: Object.assign({}, d, { script: (cache[id] || transcript), idioma }) });\n}\nreturn out;\n"
      },
      "id": "traducir-claude-haiku",
      "name": "Traducir (Claude Haiku)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4760,
        400
      ],
      "notes": "Haiku 4.5 traductor literal vía this.helpers.httpRequest, SOLO si el original no está en español. external_id atado al item. Fail-open: script = transcript si falla."
    },
    {
      "parameters": {
        "jsCode": "\n// Gate de relevancia (Haiku) — jurado ESTRICTO sobre el transcript (precision). Llena CALIDAD (PLAN §2.4).\n// Juzga relevancia/calidad contra criterios_relevancia (Proyecto ⊕ Voz) → {relevante, score, razon}.\n// Dropea los relevante:false. Composite: heat = PESO·score_haiku + (1-PESO)·percentil(prescore métrico).\n// Sin transcript: juzga el caption (descripcion) como fallback; si pasa, se marca [SIN TRANSCRIPT...].\n// Fail-open: sin criterios o si Haiku falla, pasa todo y ordena por el prescore métrico.\nconst KEY = '<ANTHROPIC_API_KEY>';\nconst cfg = Object.assign({}, $('Config').first().json, ($('Armar plan de corrida').first().json.ajustes || {}));\nconst PESO = Number(cfg.peso_relevancia != null ? cfg.peso_relevancia : 0.7);\nconst MIN_REL = Number(cfg.min_relevancia || 0); // umbral duro: dropea score < MIN_REL (default 0)\n// Descartes visibles (ADR-021, enmienda 2026-07-13): Haiku rechaza decisivo (bimodal, casi nada en\n// [0.35,0.6]) → la banda fija nunca se poblaba. Ahora expone los TOP-K rechazos por score (los\n// near-miss: los que estuvieron mas cerca de pasar = los mas probables falsos negativos). Knob dev-only.\nconst CAP_DESC = Number(cfg.cap_descartes != null ? cfg.cap_descartes : 10);\nconst _borderline = [];\nconst projects = ($('Armar plan de corrida').first().json || {}).projects || {};\nconst SLEEP_MS = 1000;\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\nconst pct = (arr, v) => { if (arr.length <= 1) return 1; let c = 0; for (const x of arr) if (x <= v) c++; return c / arr.length; };\n\nconst items = $input.all().map(i => i.json);\nconst byProj = {};\nitems.forEach(d => { (byProj[d.proyecto_id] = byProj[d.proyecto_id] || []).push(d); });\n\nconst out = [];\nlet first = true;\nfor (const pid in byProj) {\n  const arr = byProj[pid];\n  const p = projects[pid] || {};\n  const critProy = (p.criterios || '').toString().trim();\n  const critVoz = (p.voz_criterios || '').toString().trim();\n  const critAprend = (p.criterios_aprendidos || '').toString().trim();\n  const criterios = [critProy, critVoz, critAprend].filter(Boolean).join('\\n').trim();\n  const criteriosTxt = [critProy ? 'CRITERIOS DE TEMA (principal):\\n' + critProy : '', critVoz ? 'AJUSTE DE VOZ (complementa, no manda):\\n' + critVoz : '', critAprend ? 'PATRONES APRENDIDOS (de decisiones reales del equipo; guia, no ley):\\n' + critAprend : ''].filter(Boolean).join('\\n\\n');\n  const juicio = {}; // external_id → { relevante, score, razon }\n  if (criterios) {\n    const lote = arr.map(d => ({ id: String(d.external_id || ''), texto: (String(d.script || '').trim() || String(d.descripcion || '').trim()).replace(/\\s+/g, ' ').trim().slice(0, 1500) })).filter(x => x.id && x.texto);\n    const CHUNK = 25; // chunks chicos (cierre 31): con ~100 videos el JSON de juicio excede max_tokens → parse falla → fail-open dejaría pasar TODO sin score\n    for (let ci = 0; ci < lote.length; ci += CHUNK) {\n      const sub = lote.slice(ci, ci + CHUNK);\n      if (!first) await sleep(SLEEP_MS); first = false;\n      const sys = 'Sos un jurado ESTRICTO de relevancia y calidad. Te doy el tema de un proyecto, sus criterios (el TEMA manda; el AJUSTE DE VOZ solo complementa), y una lista de videos (id + transcript). Para cada uno decidi si es RELEVANTE y UTIL segun los criterios. Precision: ante la duda, marca relevante:false. Devolve UNICAMENTE un JSON {\"juicio\":[{\"id\":\"...\",\"relevante\":true,\"score\":0.0,\"razon\":\"breve\"}]}. score 0..1 = que tan bien cumple los criterios.';\n      const usr = 'TEMA: ' + (p.nombre || '') + '\\n' + criteriosTxt + '\\n\\nVIDEOS:\\n' + JSON.stringify(sub);\n      try {\n        const resp = await this.helpers.httpRequest({\n          method: 'POST', url: 'https://api.anthropic.com/v1/messages',\n          headers: { 'x-api-key': KEY, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n          body: { model: 'claude-haiku-4-5', max_tokens: 4000, system: sys, messages: [{ role: 'user', content: usr }] },\n          json: true, timeout: 60000\n        });\n        let txt = '';\n        try { txt = (resp.content && resp.content[0] && resp.content[0].text) || ''; } catch (e) {}\n        const m = String(txt).match(/\\{[\\s\\S]*\\}/);\n        if (m) { const parsed = JSON.parse(m[0]); (parsed.juicio || []).forEach(j => { juicio[String(j.id)] = j; }); }\n      } catch (e) { /* fail-open por chunk: estos videos pasan sin juicio, ordenan por métrica */ }\n    }\n  }\n  const kept = arr.filter(d => { const j = juicio[String(d.external_id)]; if (j && j.relevante === false) return false; const sc = j && typeof j.score === 'number' ? j.score : null; if (sc != null && sc < MIN_REL) return false; return true; });\n  arr.forEach(d => { if (kept.indexOf(d) >= 0) return; const j = juicio[String(d.external_id)]; const motivo = j ? (j.relevante === false ? 'irrelevante' : 'score<min') : 'sin-juicio'; console.log('[Gate] DESCARTE pid=' + pid + ' id=' + d.external_id + ' score=' + (j && j.score != null ? j.score : 'n/a') + ' motivo=' + motivo + (j && j.razon ? ' :: ' + j.razon : ''));\n    const sc = j && typeof j.score === 'number' ? j.score : null;\n    if (sc != null) _borderline.push({ d, score: sc, razon: (j && j.razon) || '' });\n  });\n  const prescores = kept.map(d => Number(d.heat_score || 0));\n  kept.forEach(d => {\n    const j = juicio[String(d.external_id)];\n    const sHaiku = j && typeof j.score === 'number' ? Math.max(0, Math.min(1, j.score)) : null;\n    const metricPct = pct(prescores, Number(d.heat_score || 0));\n    const composite = sHaiku != null ? (PESO * sHaiku + (1 - PESO) * metricPct) : metricPct;\n    const sinScript = !String(d.script || '').trim();\n    const razonBase = (j && j.razon) || '';\n    const razon = sinScript ? ('[SIN TRANSCRIPT: juzgado por caption, revisar manual] ' + razonBase).trim() : razonBase;\n    out.push({ json: Object.assign({}, d, {\n      prescore_metrico: Number(d.heat_score || 0),\n      relevancia_score: sHaiku,\n      relevancia_razon: razon,\n      heat_score: Math.round(composite * 10000) / 10000\n    }) });\n  });\n}\n// Emite los TOP-K rechazos por score marcados _descarte (cap global por corrida, mejores primero):\n// Armar candidato los ignora; Preparar batch Descartes los sube al cockpit (ADR-021).\n_borderline.sort((a, b) => b.score - a.score);\nfor (const b of _borderline.slice(0, Math.max(0, CAP_DESC))) {\n  out.push({ json: Object.assign({}, b.d, { _descarte: true, relevancia_score: b.score, relevancia_razon: b.razon }) });\n}\nif (_borderline.length) console.log('[Gate] descartes top-K expuestos: ' + Math.min(_borderline.length, Math.max(0, CAP_DESC)) + '/' + _borderline.length);\nreturn out;\n"
      },
      "id": "gate-relevancia",
      "name": "Gate de relevancia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        400
      ],
      "notes": "Jurado ESTRICTO Haiku sobre el transcript (etapa CALIDAD, ADR-010). Dropea irrelevantes; heat_score = composite semántico⊕métrico (peso_relevancia). Fail-open. Stage 3."
    },
    {
      "parameters": {
        "jsCode": "// Corte final POR PROYECTO (ADR-024, enmienda del corte global de ADR-016) + piso ADR-017 + dedup ADR-018.\n// ORDEN (importa): 1) dedup — una copia por video (ADR-018) => cada video queda en UN solo proyecto;\n// 2) recien ahi cada proyecto corta a SU N por heat compuesto. Al reves (cortar y despues dedupear,\n// como hacia ADR-016) dos proyectos que pescan el mismo video colisionan y los DOS quedan cortos: N\n// seria un techo, no una entrega. Con este orden N se cumple exacto.\n// cap_top_n NO se toca: es el techo duro de transcripcion y ya mordio antes, en Heat-score v1.\nconst _plan = $('Armar plan de corrida').first().json || {};\nconst _projects = _plan.projects || {};\nconst N_DEF = Number(_plan.top_n || $('Config').first().json.top_n || 100);\nconst _nDe = (pid) => { const p = _projects[pid]; const n = Number(p && p.n); return n > 0 ? n : N_DEF; };\nconst _all = $input.all().filter(i => !i.json._descarte).slice().sort( // los _descarte van al cockpit por su propia rama (ADR-021)\n(a, b) => (Number(b.json.heat_score || 0)) - (Number(a.json.heat_score || 0)));\nconst PISO = Number($('Config').first().json.piso_referente || 0); // piso leve por cuenta fuente (ADR-017): evita que un referente acapare el corte.\n\n// 1) DEDUP (ADR-018, enmienda ADR-013): del fan-out gana la copia de mayor relevancia_score (empate:\n// heat) => el video se lo lleva el proyecto que lo juzgo mas relevante. Items sin id se conservan.\nconst _rs = (x) => (x.json.relevancia_score != null ? Number(x.json.relevancia_score) : -1);\nconst _best = {};\nconst _sinId = [];\nfor (const it of _all) {\n  const id = String(it.json.external_id || '');\n  if (!id) { _sinId.push(it); continue; }\n  const prev = _best[id];\n  if (!prev || _rs(it) > _rs(prev) || (_rs(it) === _rs(prev) && Number(it.json.heat_score || 0) > Number(prev.json.heat_score || 0))) _best[id] = it;\n}\n\n// 2) CORTE POR PROYECTO: cada proyecto ordena sus ganadores por heat y corta a su N (PISO primero).\nconst _porProy = {};\nfor (const id in _best) { const it = _best[id]; const pid = String(it.json.proyecto_id || ''); (_porProy[pid] = _porProy[pid] || []).push(it); }\nconst _keep = new Set(_sinId);\nfor (const pid in _porProy) {\n  const arr = _porProy[pid].sort((a, b) => (Number(b.json.heat_score || 0)) - (Number(a.json.heat_score || 0)));\n  const N = _nDe(pid);\n  const _sel = new Set();\n  // PISO: round-robin por cuenta fuente, hasta PISO videos por cuenta, sin pasar de N.\n  if (PISO > 0) {\n    const _byUser = {};\n    arr.forEach(it => { const u = String(it.json.username || '').toLowerCase(); (_byUser[u] = _byUser[u] || []).push(it); });\n    const _users = Object.keys(_byUser);\n    for (let r = 0; r < PISO && _sel.size < N; r++) { for (const u of _users) { if (_sel.size >= N) break; const a = _byUser[u]; if (r < a.length) _sel.add(a[r]); } }\n  }\n  // FILL: completar por heat hasta N.\n  for (const it of arr) { if (_sel.size >= N) break; _sel.add(it); }\n  _sel.forEach(it => _keep.add(it));\n  console.log('[Corte] proyecto=' + ((_projects[pid] || {}).nombre || pid || 'sin proyecto') + ' N=' + N + ' disponibles=' + arr.length + ' entregados=' + _sel.size);\n}\n\n// Normaliza idioma al set canónico del cockpit {es,en,pt,it,fr,otro} — evita opciones basura en el single-select de Airtable (ej: 'ingles','ru','ot' que devolvían Supadata/Haiku).\nconst _CANON = new Set(['es', 'en', 'pt', 'it', 'fr']);\nconst _LANG_WORD = { ingles: 'en', english: 'en', espanol: 'es', spanish: 'es', castellano: 'es', portugues: 'pt', portuguese: 'pt', italiano: 'it', italian: 'it', frances: 'fr', french: 'fr' };\nconst normLang = (v) => { let s = String(v || '').toLowerCase().trim(); if (!s) return ''; if (_LANG_WORD[s]) return _LANG_WORD[s]; s = s.slice(0, 2); return _CANON.has(s) ? s : 'otro'; };\nconst out = [];\nfor (const it of _all) {\n  if (!_keep.has(it)) continue;\n  const d = it.json;\n  const _tituloBase = String(d.descripcion || '').replace(/\\s+/g, ' ').trim().slice(0, 80) || (d.username || 'video');\n  // Decisión #6 (2026-07-09): sin transcript pasa igual (fail-open) pero con marca visible en el feed.\n  const titulo = (String(d.script || '').trim() ? '' : '⚠️ SIN GUION | ') + _tituloBase;\n  out.push({ json: {\n    titulo,\n    script: String(d.script || '').slice(0, 95000),\n    idioma: normLang(d.idioma || d.idioma_detectado),\n    proyecto_id: d.proyecto_id || null, proyecto_nombre: d.proyecto_nombre || '',\n    voz_id: d.voz_id || null, voz_nombre: d.voz_nombre || '',\n    referente: d.username || '', url_referente: d.url || '',\n    views: Number(d.reproducciones || 0), likes: Number(d.likes || 0),\n    seguidores: Number(d.seguidores || 0), engagement: parseFloat(d.engagement_rate) || 0,\n    heat_score: Number(d.heat_score || 0), viral_por_tamano: !!d.viral_por_tamano,\n    plataforma: d.plataforma || '', external_id: String(d.external_id || ''),\n    relevancia_score: (d.relevancia_score != null ? d.relevancia_score : null),\n    relevancia_razon: d.relevancia_razon || '', thumbnail_url: d.thumbnail_url || ''\n  } });\n}\nreturn out;\n"
      },
      "id": "armar-candidato",
      "name": "Armar candidato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7000,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst recs = $input.all().map(i => {\n  const d = i.json;\n  const f = {\n    titulo: d.titulo, script: d.script, idioma: d.idioma || undefined,\n    referente: d.referente, url_referente: d.url_referente,\n    views: d.views, likes: d.likes, seguidores: d.seguidores, engagement: d.engagement,\n    heat_score: d.heat_score, viral_por_tamano: d.viral_por_tamano,\n    relevancia_score: (d.relevancia_score != null ? d.relevancia_score : undefined),\n    relevancia_razon: d.relevancia_razon || undefined, estado: 'nuevo'\n  };\n  if (d.proyecto_id) f.proyecto = [d.proyecto_id];\n  if (d.voz_id) f.voz = [d.voz_id];\n  if (d.thumbnail_url) f.thumbnail = [{ url: d.thumbnail_url }];\n  return { fields: f };\n});\nconst out = [];\nfor (let i = 0; i < recs.length; i += 10) out.push({ json: { records: recs.slice(i, i + 10), typecast: true } });\nreturn out.length ? out : [];\n"
      },
      "id": "preparar-batch-airtable",
      "name": "Preparar batch Airtable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7280,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.airtable.com/v0/' + $('Config').first().json.airtable_base_id + '/Candidatos' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "post-airtable-candidatos",
      "name": "POST Airtable Candidatos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7560,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/runs?id=eq.' + ($('Abrir run en el registro').first().json.id || '00000000-0000-0000-0000-000000000000') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { fin: $now.toISO(), estado: 'ok', metricas: $json.metricas } }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "cerrar-run-en-el-registro",
      "name": "Cerrar run en el registro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8400,
        400
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "\nconst cfg = $('Config').first().json;\nconst iid = cfg.instance_id && String(cfg.instance_id).indexOf('<<') < 0 ? cfg.instance_id : null;\nconst batch = $input.all().map(i => {\n  const d = i.json;\n  return {\n    instance_id: iid, platform: d.plataforma || '', external_id: String(d.external_id || ''),\n    url: d.url || '', seguidores: Number(d.seguidores || 0),\n    flag_viral: !!d.viral_por_tamano, idioma: d.idioma_guess || null\n  };\n}).filter(r => r.external_id);\nreturn [{ json: { batch } }];\n"
      },
      "id": "preparar-procesados",
      "name": "Preparar procesados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8680,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/processed_items?on_conflict=platform,external_id' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "post-processed_items",
      "name": "POST processed_items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8960,
        400
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/runs' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"instance_id\": \"{{ $('Config').first().json.instance_id }}\", \"trigger_type\": \"{{ $('Disparo on-demand (webhook)').isExecuted ? 'on_demand' : ($('Ejecutar manual').isExecuted ? 'manual' : 'cron') }}\", \"estado\": \"en_curso\", \"params\": { \"workflow\": \"motor\" } }",
        "options": {
          "timeout": 15000
        }
      },
      "id": "abrir-run-en-el-registro",
      "name": "Abrir run en el registro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9240,
        880
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.airtable.com/v0/' + $('Config').first().json.airtable_base_id + '/Ajustes' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "options": {
          "timeout": 20000
        }
      },
      "id": "leer-ajustes",
      "name": "Leer Ajustes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        560
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "name": "Airtable PAT"
        }
      }
    },
    {
      "parameters": {
        "authentication": "apifyApi",
        "resource": "Actors",
        "operation": "Run actor and get dataset",
        "actorId": "clockworks~free-tiktok-scraper",
        "customBody": "={{ (function(){ var p=$('Armar plan de corrida').first().json; var a=p.ajustes||{}; return { profiles: p.tt_profiles, resultsPerPage: p.resultados_referente, shouldDownloadVideos: false, shouldDownloadCovers: false }; })() }}"
      },
      "id": "apify-tiktok-perfil",
      "name": "Apify — TikTok Perfil",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        2240,
        620
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/runs?params-%3E%3Eworkflow=eq.motor&estado=eq.en_curso&inicio=lt.' + encodeURIComponent($now.minus({ minutes: $('Config').first().json.ventana_corrida_min || 120 }).toISO()) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { estado: 'fallo', fin: $now.toISO(), error: 'run de motor sin cerrar (en_curso mas viejo que ventana_corrida_min); barrido por corrida posterior' } }}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "barrer-runs-zombie-motor",
      "name": "Barrer runs zombie",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9240,
        400
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    },
    {
      "id": "m1-prep-descartes",
      "name": "Preparar batch Descartes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5240,
        620
      ],
      "parameters": {
        "jsCode": "\n// Descartes del gate visibles (ADR-021): sube al cockpit SOLO la banda borderline que el gate marcó\n// con _descarte. El equipo audita y marca 'veredicto'; el archivado los cuenta y los limpia el domingo.\nconst items = $('Gate de relevancia').all().map(i => i.json).filter(d => d._descarte);\nconst recs = items.map(d => {\n  const titulo = String(d.descripcion || '').replace(/\\s+/g, ' ').trim().slice(0, 80) || (d.username || 'video');\n  const f = {\n    titulo, script: String(d.script || '').slice(0, 95000),\n    referente: d.username || '', url_referente: d.url || '',\n    relevancia_score: (d.relevancia_score != null ? d.relevancia_score : undefined),\n    relevancia_razon: d.relevancia_razon || undefined\n  };\n  if (d.proyecto_id) f.proyecto = [d.proyecto_id];\n  if (d.thumbnail_url) f.thumbnail = [{ url: d.thumbnail_url }];\n  return { fields: f };\n});\nconst out = [];\nfor (let i = 0; i < recs.length; i += 10) out.push({ json: { records: recs.slice(i, i + 10), typecast: true } });\nreturn out; // [] si no hay borderline: el POST no corre\n"
      }
    },
    {
      "id": "m1-post-descartes",
      "name": "POST Airtable Descartes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5440,
        620
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.airtable.com/v0/' + $('Config').first().json.airtable_base_id + '/' + encodeURIComponent('Descartes del gate') }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 20000
        }
      }
    },
    {
      "id": "m1-resumen-run",
      "name": "Resumen del run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8200,
        400
      ],
      "parameters": {
        "jsCode": "\n// Resumen del run (ADR-021) — arma runs.metricas: embudo + sin_guion + llamadas estimadas por\n// servicio + desglose por referente (evaluados/gate_pass en videos DISTINTOS; habilita la higiene\n// de fuentes de ADR-022). Cerrar run persiste $json.metricas tal cual.\nconst gateAll = $('Gate de relevancia').all();\nconst gateKept = gateAll.filter(i => !i.json._descarte);\nconst outputs = $('Armar candidato').all();\nconst gateIn = $('Traducir (Claude Haiku)').all();\nconst _distinct = (items) => new Set(items.map(i => String(i.json.external_id || '')).filter(Boolean)).size;\nconst _lotes = (items) => new Set(items.map(i => String(i.json.proyecto_id || '')).filter(Boolean)).size;\n// llamadas estimadas: Supadata = videos distintos transcritos (dedup intra-corrida, ADR-016);\n// Haiku: pre-trim = 1 lote/proyecto (cota superior: exentos/sin-criterios no llaman), gate = chunks\n// de a 25 por proyecto (cierre 31), traducciones = videos DISTINTOS no-ES (Traducir dedupea, cierre 31).\nconst _lotesChunk = (items, chunk) => { const by = {}; items.forEach(i => { const p = String(i.json.proyecto_id || ''); if (p) by[p] = (by[p] || 0) + 1; }); return Object.values(by).reduce((a, n) => a + Math.ceil(n / chunk), 0); };\nconst llamadas = {\n  supadata: _distinct($('Transcribir (Supadata)').all()),\n  haiku_lotes_pretrim: _lotes($('Asignar proyecto+voz').all()),\n  haiku_lotes_gate: _lotesChunk(gateIn, 25),\n  haiku_traducciones: new Set(gateIn.filter(i => String(i.json.transcripcion || '').trim() && (i.json.idioma || 'es') !== 'es').map(i => String(i.json.external_id || i.json.url || '')).filter(Boolean)).size\n};\nconst por_referente = {};\nconst _mark = (items, key) => { const seen = new Set(); for (const it of items) { const u = String(it.json.username || '').toLowerCase(); const id = String(it.json.external_id || ''); if (!u || !id) continue; const k = u + '|' + id; if (seen.has(k)) continue; seen.add(k); (por_referente[u] = por_referente[u] || { evaluados: 0, gate_pass: 0 })[key]++; } };\n_mark(gateIn, 'evaluados');\n_mark(gateKept, 'gate_pass');\nconst _n = (name) => { try { return $(name).all().length; } catch (e) { return 0; } };\nconst metricas = {\n  colectados: $('Merge scrapes').all().length,\n  apify_ig: _n('Apify — IG Reels'),\n  apify_tt: _n('Apify — TikTok Perfil'),\n  asignados: $('Asignar proyecto+voz').all().length,\n  pretrim: $('Pre-trim relevancia').all().length,\n  filtrados: $('Heat-score v1').all().length,\n  gate: gateKept.length,\n  outputs: outputs.length,\n  sin_guion: outputs.filter(i => !String(i.json.script || '').trim()).length,\n  descartes_expuestos: gateAll.length - gateKept.length,\n  llamadas, por_referente\n};\nconsole.log('[Resumen] ' + JSON.stringify(metricas));\nreturn [{ json: { metricas } }];\n"
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "<<WEBHOOK_PATH_MOTOR>>",
        "responseMode": "onReceived",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "disparo-on-demand-webhook",
      "name": "Disparo on-demand (webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Webhook Motor Header"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/runs?params-%3E%3Eworkflow=eq.motor&estado=eq.en_curso&inicio=gte.' + encodeURIComponent($now.minus({ minutes: $('Config').first().json.ventana_corrida_min || 120 }).toISO()) + '&select=id,inicio,trigger_type&limit=1' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "timeout": 15000
        }
      },
      "id": "leer-corridas-vivas",
      "name": "Leer corridas vivas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9240,
        560
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "name": "Supabase Registro"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "guard-libre",
              "leftValue": "={{ Boolean($json.id) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "guard-single-flight",
      "name": "Guard single-flight",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9240,
        720
      ]
    },
    {
      "parameters": {},
      "id": "bloqueada-corrida-viva",
      "name": "Bloqueada: ya hay corrida viva",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        9460,
        880
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron — semanal (lunes 8am)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar manual": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Barrer runs zombie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abrir run en el registro": {
      "main": [
        [
          {
            "node": "Leer Proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Proyectos": {
      "main": [
        [
          {
            "node": "Leer Voces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Voces": {
      "main": [
        [
          {
            "node": "Leer Referentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Referentes": {
      "main": [
        [
          {
            "node": "Leer Ajustes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar plan de corrida": {
      "main": [
        [
          {
            "node": "Apify — TikTok Perfil",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split IG referentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify — IG Reels": {
      "main": [
        [
          {
            "node": "Normalizar IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar IG": {
      "main": [
        [
          {
            "node": "Merge scrapes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar TT": {
      "main": [
        [
          {
            "node": "Merge scrapes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge scrapes": {
      "main": [
        [
          {
            "node": "Asignar proyecto+voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asignar proyecto+voz": {
      "main": [
        [
          {
            "node": "Pre-trim relevancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer señal selección": {
      "main": [
        [
          {
            "node": "Leer procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer procesados": {
      "main": [
        [
          {
            "node": "Heat-score v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heat-score v1": {
      "main": [
        [
          {
            "node": "Transcribir (Supadata)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar procesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar candidato": {
      "main": [
        [
          {
            "node": "Preparar batch Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resumen del run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar batch Airtable": {
      "main": [
        [
          {
            "node": "POST Airtable Candidatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar procesados": {
      "main": [
        [
          {
            "node": "POST processed_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-trim relevancia": {
      "main": [
        [
          {
            "node": "Leer señal selección",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir (Supadata)": {
      "main": [
        [
          {
            "node": "Traducir (Claude Haiku)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traducir (Claude Haiku)": {
      "main": [
        [
          {
            "node": "Gate de relevancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate de relevancia": {
      "main": [
        [
          {
            "node": "Armar candidato",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar batch Descartes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Ajustes": {
      "main": [
        [
          {
            "node": "Armar plan de corrida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify — TikTok Perfil": {
      "main": [
        [
          {
            "node": "Normalizar TT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split IG referentes": {
      "main": [
        [
          {
            "node": "Apify — IG Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Barrer runs zombie": {
      "main": [
        [
          {
            "node": "Leer corridas vivas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar batch Descartes": {
      "main": [
        [
          {
            "node": "POST Airtable Descartes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen del run": {
      "main": [
        [
          {
            "node": "Cerrar run en el registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparo on-demand (webhook)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer corridas vivas": {
      "main": [
        [
          {
            "node": "Guard single-flight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard single-flight": {
      "main": [
        [
          {
            "node": "Abrir run en el registro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bloqueada: ya hay corrida viva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
